<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           ">
	<context:component-scan base-package="/spring-in-5-steps/src/main/java/biz/jshanahan/spring/basics/Springin5steps/SpringIn5StepsBasicApplication.java"/>

  <bean id="xmlJdbcConnection" class="biz.jshanahan.spring.basics.Springin5steps.xml.XmlJdbcConnection">
    <!-- collaborators and configuration for this bean go here -->
  </bean>

  <bean id="xmlPersonDAO" class="biz.jshanahan.spring.basics.Springin5steps.xml.XmlPersonDAO">
    <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
  </bean>

  <!-- more bean definitions go here -->

</beans>